<div class="col-md-5">
    <h3 class="display-4">SideLoad Stetho</h3>

    <p>
    Stetho is a 
    <a href="http://facebook.github.io/stetho/" target="_blank">debug bridge for Android applications</a> that I find it to be very useful, House can sideload stethor.jar and inject it into your application for debug purpose. It will only be turned on if you click the button below.
    </p>

    <h3>Here is what you need to do to make it work:</h3>
    <ul class="list-unstyled">
        
        <li>1. Download Stetho <a href="https://github.com/facebook/stetho/releases/download/v1.5.0/stetho-1.5.0-fatjar.jar" target="_blank">stand-alone JAR.</a></li>
        <li>2. Rename the download to <code>stetho.jar</code>.</li>
        <li>3. Push the jar to the device under this diretory: <code>/data/local/tmp/stetho.jar</code>, e.g. <code>adb push stetho.jar /data/local/tmp/</code>.</li>
        <li>4. Click the <code>Load</code> button below, note this would restart the application.</li>
        <li>5. To unload <code>stetho.jar</code>, simply restart the app.</li>
        <li>6. What's new on <a href="chrome://inspect/#devices" target="_blank">chrome://inspect/#devices</a> ?</li>
    </ul>


    <div class="btn-group" id="status" data-toggle="buttons">
        <label class="btn btn-default btn-on btn-sm active" onclick="sideloadStetho()">
            <input type="radio" value="1" name="stetho_load" checked="checked" id="stetho" >Load Stetho</label>
        <!-- <label class="btn btn-default btn-off btn-sm " onclick="unloadStetho()">
            <input type="radio" value="0" name="stetho_unload" id="stetho_off">OFF</label> -->
    </div>

</div>