
<!-- <div class="btn-group" id="status" data-toggle="buttons">
        <label class="btn btn-default btn-on btn-sm active" onclick="sideloadStetho()">
            <input type="radio" value="1" name="stetho_load" checked="checked" id="stetho">Load Stetho</label>

    </div> -->
<div class="col-md-5">
    <h3 class="display-4">SideLoad Stetho</h3>
    <p>
        Stetho is a
        <a href="http://facebook.github.io/stetho/" target="_blank">debug bridge for Android applications</a> that I find it to be very useful, House can sideload stethor.jar and inject it into your application for debug purpose. It will only be turned on if you click the button below.
    </p>
    <h4>Here is what you need to do to make it work:</h4>
    <ul class="list-unstyled">
        <li>1. Download Stetho <a href="https://github.com/facebook/stetho/releases/download/v1.5.0/stetho-1.5.0-fatjar.jar" target="_blank">stand-alone JAR.</a></li>
        <li>2. Rename the download to <code>stetho.jar</code>.</li>
        <li>3. Push the jar to the device under this diretory: <code>/data/local/tmp/stetho.jar</code>, e.g. <code>adb push stetho.jar /data/local/tmp/</code>.</li>
        <li>4. Click the <code>Load</code> button below, note this would restart the application.</li>
        <li>5. To unload <code>stetho.jar</code>, simply restart the app.</li>
        <li>6. What's new on <code>chrome://inspect/#devices</code>?</li>
    </ul>


    <h3 class="display-4">SSL Unpinning</h3>
    <p>
        Toggle the button on the right-hand side to preload SSL Unpinning frida script. 
    </p>

</div>
<div class="col-md-5">
    <hr>
    <form class="form-horizontal" role="form">
        <div class="btn-group">
            <label class="switch">
                <input type="checkbox" id="PRELOAD_STETHO">
                <span class="slider"></span>
            </label><small class="text-uppercase"><b> Stetho</b></small>
        </div>
        <div class="btn-group">
            <label class="switch">
                <input type="checkbox" id="PRELOAD_SSLSTRIP" checked>
                <span class="slider"></span>
            </label><small class="text-uppercase"><b> SSL Unpinning</b></small>
        </div>
    </form>
    <br>
    <button class="btn btn-success" onclick="runpreload();">Run Preload</button>
    <button class="btn btn-danger" onclick="endpreload();">Terminate Preload</button>
</div>



